<h4>KB Billeder</h4>
<p>&nbsp;</p>
<p>Dette er  et proof of concept hydra-head med billeder fra Cumulus.
<ul>
  <li>
    Søg i billledsamlingen

  </li>

  <li>
    Gennemse facetterne til højre
  </li>
  <li>
    Opret et nyt billede manuelt <a href="/new"></a>
  </li>
  <li>
    <a href="/loadallxmlfiles">Indlæs alle poster fra eksporteret fra cumulus i raw.xml</a>
  </li>


  <li>
    <a href="/deleteallobjects">Slet alle poster i dette hydra-head</a>
  </li>

</ul>
</p>

<p>
Formål:
  <ul>
    <li>flere hydra-heads på samme fedora og solr</li>
    <li>Generisk søgeinterface</li>
    <li>access rights i rightsmetadatastream</li>
    <li>automatiseret indlæsning</li>
    <li>Multiple datastreams</li>
    <li>OAI høstning via blacklight</li>
    <li>LCSH i poster</li>
    <li>Indbygget versions styring i fedora til crowd sourcing</li>

  </ul>

</p>
<% #Creates a bit space in the page -%>

