<div class="page-header">
  <h3>Bifrost Billeder</h3>
</div>

<div class="hero-unit">
  <p>
    Formål:
  <ul>
    <li>
      Søg i KB's billledsamling

    </li>

    <li>Gennemse og naviger via facetter for KB's Billedsamling.</li>
    <li>Specialiserede søgeinterfaces og materiale type på samme repository (Fedora og Solr)</li>
    <li>Generisk søgeinterface</li>
    <li>Versions historik for alle objekter til f.eks. crowdsourcing.</li>
    <li>Access rights og licenser i rightsmetadatastream</li>
    <li>Automatiseret indlæsning af store datamængder</li>
    <!--li>Multiple datastreams</li-->
    <li>OAI høstning via blacklight <a href="https://github.com/cbeer/blacklight_oai_provider">Blacklight oai provider</a></li>
    <li>Relationer mellem objekter</li>
    <li>LCSH i poster</li>
    <li>Indbygget versions styring i fedora til crowd sourcing</li>
    <li>Semantisk annotering af udstillede data via vokabulariet fra <a href="schema.org">schema.org</a></li>

  </ul>




  </p>
</div>

<% if has_user_authentication_provider? and current_user %>

<div class="container">

  <div class="row">
    <h4>Administration</h4>

  </div>


  <div class="row">
    <div class="col-lg-4">
      <div class="well well-large">
        <a href="/images/new/" class="btn btn-primary" title="New image" id="new"><i class="icon icon-large icon-plus icon-white"></i><span class="new" title="new">New image</span></a>
        Opret et nyt billede manuelt til samlingen.      </div>
    </div>
    <div class="col-lg-4">
      <div class="well">
        <a href="/deleteallobjects" class="btn btn-large btn-danger" data-confirm="Er du helt sikker? Det tager mindst 5 timer at læse dem ind igen..."><i class="icon-trash icon-white"></i><span class="slet" title="Slet">Slet alle billeder</span></a> i samlingen.
      </div>
    </div>
    <div class="col-lg-4">
      <div class="well">
        <a href="/loadallxmlfiles" class="btn btn-large btn-success" data-confirm="Er du helt sikker? Det tager mindst 5 timer at læse dem ind..." > <i class="icon-repeat icon-white"></i><span class="indlæs" title="indlæs">Indlæs alle billeder</span>
         </a>
        Indlæs alle poster fra eksporteret fra cumulus i raw.xml i samlingen.
      </div>
    </div>

    <div class="col-lg-4">
      <div class="well">
        <a href="/reloadsolrindex" class="btn btn-large btn-success" data-confirm="Er du helt sikker? Det tager at genbygge indexet..." > <i class="icon-refresh icon-white"></i><span class="reload" title="reload">Genbyg søgeindeks</span>
        </a>
        Genbyg søgeindeks for alle poster i samlingen.
      </div>
    </div>

  </div>

</div>

  <% end %>
  <% #Creates a bit space in the page -%>

