<h4>KB Billeder</h4>
<p>&nbsp;</p>
<p>Dette er  et proof of concept hydra-head med billeder fra Cumulus.
<ul>
  <li>
    Se listen af billeder via <a href="images/">administrer billeder</a>.

  </li>

  <li>
    <a href="/loadallxmlfiles">Indlæs alle poster fra eksporteret fra cumulus i raw.xml</a>
  </li>


  <li>
    <a href="/deleteallobjects">Slet alle poster i dette hydra-head</a>
  </li>

</ul>
</p>

<p>
Formålet er at
  <ul>
    <li>teste multiple datastreams</li>
    <li>flere hydra-heads på samme fedora og solr</li>
    <li>access rights i rightsmetadatastream</li>
    <li>automatiseret indlæsning</li>
  </ul>

</p>
<% #Creates a bit space in the page -%>

