<div class="page-header">
  <h1>loader data fra filsystem</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>dd</th>
    <th>title</th>

  </tr>
  </thead>
  <tbody>
  <% #@images.each do |image| %>
      <tr>
        <td>det simple sind</td>
        <td>nej</td>

      </tr>
  <% # end %>
  </tbody>
</table>